body {
    display: grid;
    grid-template-columns: auto 80%;
    
}



/* left side */
/* #taskbar {
    width: 60%;
    background-color: rgb(168, 202, 237);
    border: 2px lightskyblue solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


} */
#mainDiv{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 55%;
    margin-top: 15%;
    position: sticky;
    top: 0;
}

li{
    margin: 15px;
}

/* middle */
#headerImage{
    height: 300px;
    opacity: 0.5;
}

#bioImage{
    height: 75%;
    width: 55%;
}

#bioSection{
    display: grid;
    grid-template-columns: auto auto;
    width: 500px;   
    height: 300px;
    margin-left: 18%;
    text-align: center;
}

#bioParagraph{
    border: none;
    text-align: justify;
}

#newMessage{
    margin-left: 25%;
    flex-grow: 3;
}

#postcardSection{
    width: 300px;    
    margin-left: 25%;
    margin-top: 3%;
}

#cardDiv{
    width: 250px;
    height: 100px;
    text-overflow: clip;
}
#card-text{
    border: none;
    text-align: justify;
    text-justify:distribute-all-lines;
}



.btn-group{
    height: fit-content;
}

#edit-btn{
    height: fit-content;
    width: fit-content;
}

@media screen and (max-width: 992px) {

    .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .postcard{
        align-items: center;
    }

    /* #postcard div{
flex-direction: ;    } */

    #leftside{
        display: none;
    }

}


